{% extends "layout.html.twig" %}

{% block title 'Admin page' %}

{% block content %}
    <nav>
        {% if user is not null %}
            <p>
                {{ user.username }} is connected with roles [{{ user.getRoles() | join(', ') }}]
                <a href="admin/logout">logout</a>
            </p>
        {% endif %}
    </nav>
    <div class="container">
        <div>
            <form id="addUser" action="">
                <h2>Add Users</h2>

                <!--Information du formulaire-->
                <div class="infoFormulaire"></div>

                <label for="firstname">Firstname:</label>
                <input id="firstname" name="firstname" type="text">
                <label for="lastname">Lastname:</label>
                <input id="lastname" name="lastname" type="text">
                <label for="username">Username:</label>
                <input id="username" name="username" type="text">
                <label for="roles">Roles:</label>
                <select name="roles" id="roles">
                    <option value="">------------</option>
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                    <option value="ROLE_USER">ROLE_USER</option>
                </select>
                <label for="password">Password:</label>
                <input id="password" name="password" type="password">
                <input type="submit" value="Ajouter">
            </form>
        </div>

        <div>
            <div class="usersList">
                <h2>Liste des utilisateurs</h2>
                <table>
                    <thead> <!-- En-tête du tableau -->
                    <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Username</th>
                        <th>Roles</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# Foreach users #}
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname|upper }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.roles|join(', ') }}</td>
                            <td><input class="deleteBtn" type="submit" value="Delete" data-id="{{ user.id }}"></td>
                        </tr>
                    {% else %}
                        Pas d'utilisateurs
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptImport %}
    {{ parent() }}
    <script src="{{ asset('js/admin/adminScript.js') }}"></script>
{% endblock %}
